## Artifacts
*.class

## Package Files
*.jar
*.war
*.ear
target

## IntelliJ
.idea
*.iml

## vscode
.settings
.project
.classpath

## Logs
*.log

## Temp
*~
.#*

dependency-reduced-pom.xml
created_job_ids

.DS_Store
tags
/nbproject/

build

# Golang
vendor
